.h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../contactimg/imgbak.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
nav{
    background-color: #000;
    color: #fff;
    padding: 30px;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
nav a:hover{
    background-color: #666;
    padding: 30px;
}
.abimg{
    width: 1340px;
   
}
.profile
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width:40%;
    color: #f7f6f6;
    border: 1px solid #ddd;
    text-align: center;
    margin-left: 365px;

    padding: 10px;
    border-radius: 10px;
}body input
{
    background-color: #ddd;
    border: none;
    padding: 16px 32px;
    border-radius: 50px;

}


body button
{
    font-weight: bold;
    color: #000000;
    background-color: #00ff00;
    margin: 4px 2px;
    border: none;
    padding: 16px 32px;
    border-radius: 50px;
}


footer{
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
}